{%load static%}
<html lang="en">
<head>

     <title>Safebox</title>


     <link rel="stylesheet" href="{%static 'home/css/bootstrap.min.css'%}">
     <link rel="stylesheet" href="{%static 'home/css/font-awesome.min.css'%}">
     <link rel="stylesheet" href="{%static 'home/css/aos.css'%}">
     <link rel="stylesheet" href="{%static 'home/css/owl.carousel.min.css'%}">
     <link rel="stylesheet" href="{%static 'home/css/owl.theme.default.min.css'%}">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{%static 'home/css/templatemo-digital-trend.css'%}">

</head>
<body>

     <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="index.html">
              <i class="fa fa-line-chart"></i>
              Safebox
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="{%url 'signin'%}" class="nav-link">Sign in</a>
                    </li>
                    <li class="nav-item">
                        <a href="{%url 'signup'%}" class="nav-link contact">Sign up</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


     <!-- HERO -->
     <section class="hero hero-bg d-flex justify-content-center align-items-center">
               <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                              <div class="hero-text">

                                   <h1 class="text-white" data-aos="fade-up">We help you store files for free!</h1>

                                   <a href="{%url 'signup'%}" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Get started!</a>
                              </div>
                        </div>

                        <div class="col-lg-6 col-12">
                          <div class="hero-image" data-aos="fade-up" data-aos-delay="300">
                            <img src="{%static 'home/images/working-girl.png'%}" class="img-fluid" alt="working girl">
                          </div>
                        </div>

                    </div>
               </div>
     </section>


     <!-- ABOUT -->
     <section class="about section-padding pb-0" id="about">
          <div class="container">
               <div class="row">

                    <div class="col-lg-7 mx-auto col-md-10 col-12">
                         <div class="about-info">
                              <h2 class="mb-4" data-aos="fade-up">the best <strong>platform</strong>to store and share files for free</h2>
                         </div>

                         <div class="about-image" data-aos="fade-up" data-aos-delay="200">

                          <img src="{%static 'home/images/office.png'%}" class="img-fluid" alt="office">
                        </div>
                    </div>

               </div>
          </div>
     </section>


    <footer class="site-footer">
      <div class="container">
        <div class="row">

          <div class="col-lg-5 mx-lg-auto col-md-8 col-10">
            <h1 class="text-white" data-aos="fade-up" data-aos-delay="100">We are a <strong>storage</strong> platform only.</h1>
          </div>

          <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="200">
            <h4 class="my-4">Contact Info</h4>

            <p class="mb-1">
              <i class="fa fa-phone mr-2 footer-icon"></i> 
              +99 080 070 4224
            </p>

            <p>
              <a href="#">
                <i class="fa fa-envelope mr-2 footer-icon"></i>
                hello@company.com
              </a>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="300">
            <h4 class="my-4">Our Studio</h4>

            <p class="mb-1">
              <i class="fa fa-home mr-2 footer-icon"></i> 
              Av. Lúcio Costa - Barra da Tijuca, Rio de Janeiro - RJ, Brazil
            </p>
          </div>

          <div class="col-lg-4 mx-lg-auto text-center col-md-8 col-12" data-aos="fade-up" data-aos-delay="400">
            <p class="copyright-text">Copyright &copy; 2020 Safebox</p>
          </div>

          <div class="col-lg-4 mx-lg-auto col-md-6 col-12" data-aos="fade-up" data-aos-delay="500">
            
            <ul class="footer-link">
              <li><a href="#">Privacy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 mx-lg-auto col-md-6 col-12" data-aos="fade-up" data-aos-delay="600">
            <ul class="social-icon">
              <li><a href="#" class="fa fa-instagram"></a></li>
              <li><a href="#" class="fa fa-twitter"></a></li>
              <li><a href="#" class="fa fa-dribbble"></a></li>
              <li><a href="#" class="fa fa-behance"></a></li>
            </ul>
          </div>

        </div>
      </div>
    </footer>


     <!-- SCRIPTS -->
     <script src="{%static 'home/js/jquery.min.js'%}"></script>
     <script src="{%static 'home/js/bootstrap.min.js'%}"></script>
     <script src="{%static 'home/js/aos.js'%}"></script>
     <script src="{%static 'home/js/owl.carousel.min.js'%}"></script>
     <script src="{%static 'home/js/smoothscroll.js'%}"></script>
     <script src="{%static 'home/js/custom.js'%}"></script>

</body>
</html>